@import url('reset.css');
*{
    box-sizing: border-box;
}
.contaiter {
    width: 1200px;
    height: 1200px;
    font-size: 0;
}

.first-row div {
    font-size: 20px;
    width: 400px;
    height: 400px;
    background-color: red;
    display: inline-block;
    border: 1px solid #000;
}



/** FIRST PART DONE  */




.column-first{
    display: inline-block;
    vertical-align: top;
}

.second-column{
    display: inline-block;
}

.column-first div{
    font-size: 20px;
    width: 800px;
    height: 200px;
    background-color: rgb(17, 156, 30);
    border: 1px solid #000;
}

.second-column div {
    font-size: 20px;
    width: 400px;
    height: 133.3px;
    background-color: rgb(17, 156, 30);
    border: 1px solid #000;
}


/** SECOND PART DONE */

.first-box{
    font-size: 20px;
    width: 400px;
    height: 400px;
    background-color: rgb(232, 130, 6);
    display: inline-block;
    border: 1px solid #000;
    vertical-align: top;
}
.double-div{
    display: inline-block;
    font-size: 20px;
}
.big-div{
    font-size: 20px;
    width: 800px;
    height: 200px;
    background-color: rgb(232, 130, 6);
    border: 1px solid #000;
}
.triple-div{
    font-size: 0;
}
.long-div{
    height: 200px;
    width: 400px;
    background-color: rgb(232, 130, 6);
    border: 1px solid #000;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}

.short-divs {
    display: inline-block;
    font-size: 20px;
}
.short-divs > div {
    height: 100px;
    width: 400px;
    background-color: rgb(232, 130, 6);
    border: 1px solid #000;
}

